/* You can add global styles to this file, and also import other style files */
$dark-gray: #57606f;
$red: #ff6b81;
$dark-red: #eb3b5a;
$white: #ffffff;
$green: #7bed9f;
$dark-green: #2ed573;
$yellow: #fed330;
$dark-yellow: #f7b731;

#attachPin > div{
    padding: 0 !important;
}