@import "src/styles.scss";
.list{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 93vh;
    border-left: 3px solid $dark-gray;
    border-right: 3px solid $dark-gray;
    &::-webkit-scrollbar{
      display: none;
    }
  }