@import "src/styles.scss";
.post {
  transition: background-color 0.25s ease-in;
  border: 3px solid $dark-gray;
  margin: 0.5rem 0;
  &:hover {
    cursor: pointer;
  }
}
.post-card {
  height: 10rem;
  display: flex;
  position: relative;
  .post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border: 3px solid $dark-gray;
      border-radius: 50%;
    }
  }
  .post-content {
    display: grid;
    .post-title {
      font-weight: bold;
    }
    .post-body {
      text-align: justify;
      overflow-y: hidden;
    }
    .post-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: lighter;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 1.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &.danger {
      color: $dark-red;
      background-color: $red;
      border: 3px solid $dark-red;
      &:hover {
        background-color: lighten($color: $red, $amount: 10);
      }
      &.info {
        color: $dark-blue;
        background-color: $blue;
        border: 3px solid $dark-blue;
        &:hover {
          background-color: lighten($color: $blue, $amount: 10);
        }
      }
    }
  }
}
