.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    .form-input{
        display: flex;
        justify-content: space-between;
        padding: 2rem
    }
}