<div class="form-container">
  <h2>Register</h2>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div>
      <div class="form-input">
        <label for="name">Name</label>
        <div class="input-container">
          <input
            id="name"
            type="text"
            #name="ngModel"
            required
            pattern=".*\S.*"
            [(ngModel)]="userToRegister.name"
          />
          <small *ngIf="name.invalid && name.touched">Name is invalid</small>
        </div>
      </div>
      <div class="form-input">
        <label for="email">Email</label>
        <div class="input-container">
          <input
            id="email"
            type="email"
            #email="ngModel"
            required
            [(ngModel)]="userToRegister.email"
          />
          <small *ngIf="email.invalid && email.touched">Email is invalid</small>
        </div>
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <div class="input-container">
          <input
            id="password"
            type="password"
            #password="ngModel"
            required
            [(ngModel)]="userToRegister.password"
          />
          <small *ngIf="password.invalid && password.touched"
            >Password is invalid</small
          >
        </div>
      </div>
    </div>
    <button type="submit" class="btn mx-5">
      <i class="fa fa-paper-plane"></i>
    </button>
  </form>
</div>
