<div class="form-container">
    <h2>Register</h2>
    <div>
        <div class="form-input">
            <label for="name">Name</label>
            <input type="text">
        </div>
        <div class="form-input">
            <label for="email">Email</label>
            <input type="email">
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password">
        </div>
    </div>
    <button type="button">
        <i class="fa fa-paper-plane"></i>
    </button>
</div>