@import "styles.scss"

.cat-info {
    padding-left: 0.5rem;
    .cat-name {
      padding: 0;
      margin: 0;
      text-transform: capitalize;
    }
    .cat-post-count {
      font-weight: lighter;
      font-size: 0.75rem;
    }
  }
  .btn-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .red {
      height: 2rem;
      width: 2rem;
      color: $dark-red;
      border: 3px solid $dark-red;
      border-radius: 50%;
      transition: background-color 0.5s ease-in-out;
      &:hover {
        background-color: lighten($color: $red, $amount: 10);
        cursor: pointer;
      }
    }
    .blue {
      height: 2rem;
      width: 2rem;
      color: $dark-blue;
      border: 3px solid $dark-blue;
      border-radius: 50%;

      transition: background-color 0.5s ease-in-out;
      i {
        text-align: center;
      }
      &:hover {
        background-color: lighten($color: $blue, $amount: 10);
        cursor: pointer;
      }
    }
  }