<div class="row">
  <div class="col-2 cat-count">
    <p>{{ totalCategories }}</p>
  </div>
  <div class="col-6 list" (scroll)="onScroll($event)">
    <app-category-entry
      *ngFor="let category of categories"
      [category]="category"
      (onRemoveClicked)="removeCategory($event)"
      (onEditPerformed)="updateCategory($event)"
    >
    </app-category-entry>
    <button *ngIf="currentPage <= totalPages" class="btn btn-more" (click)="getCategories()">More categories</button>
  </div>
  <div class="col-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="cat-input">
        <label for="categoryName">Name</label>
        <input
          type="text"
          name="categoryName"
          id="categoryName"
          [ngClass]="{
            valid: categoryName.touched && categoryName.valid,
            invalid: categoryName.touched && !categoryName.valid
          }"
          #categoryName="ngModel"
          [(ngModel)]="newCategory.name"
          maxlength="20"
          required
        />
      </div>
      <button
        type="button"
        class="btn btn-cat-new"
        [disabled]="!categoryName.valid"
        (click)="createCategory()"
      >
        Create category
      </button>
    </div>
  </div>
</div>
